/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	color: black;
	text-decoration: none;
}

li a:hover {
	color: #B1663C;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#info-bar {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background-color: black;
	width: 100%;
	color: white;
	display: none;
	text-decoration: none;
	justify-content: center;
	padding: 10px;
	gap: 5px;
}

/* Styles de base pour la modale */
.modal,
#secondModal {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	justify-content: center;
	align-items: flex-start;
}

.modal-content,
.secondModal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fefefe;
	border-radius: 10px;
	margin: 0;
	padding: 20px;
	border: 1px solid #888;
	width: 90%;
	height: 90%;
	max-width: 600px;
	max-height: 90vh;
	position: relative;
}

#titlemodal {
	display: flex;
	padding-top: 30px;
	color: black;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-family: 'Work Sans';
	font-weight: normal;
}

.modalGallery {
	display: flex;
	flex-wrap: wrap;
	gap: 25px 10px;
	width: 420px;

}

.work-card {
	position: relative;
}

.fa-trash-can {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.line {
	border-top: 1px solid 888;
	margin: 40px auto;
	position: absolute;
	bottom: 90px;
	width: 420px;

}

.add-photo-btn {
	font-family: 'Syne';
	display: flex;
	justify-content: center;
	color: #FFFEF8;
	border: 1px solid #1D6154;
	padding: 10px;
	border-radius: 25px;
	background-color: #1D6154;
	cursor: pointer;
	margin-top: 40px;
	margin-inline: auto;
	position: absolute;
	bottom: 45px; 
	width: 240px;
}
.line,
.add-photo-btn {
	 left: 0;
    right: 0;
}
.modal1-addPhoto {
	cursor: pointer;
}

.closeOne,
.closeTwo {
	position: absolute;
	margin-right: 20px;
	right: 0;
	color: black;
	float: right;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}

/* style pour la secondModale */
#secondModal {
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
}

.fa-arrow-left {
	display: flex;
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
}

i.fa-regular.fa-image {
	font-size: 65px;
	color: rgba(185, 197, 204, 1);
}

.secondModal-content h2 {
	display: flex;
	padding-top: 30px;
	color: black;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-family: 'Work Sans';
	font-weight: normal;
}

#photoUpload {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #E8F1F6;
	background-color: #E8F1F6;
	border-radius: 3px;
	width: 420px;
	height: 169px;
}

.modal2-addPhoto {
	cursor: pointer;
	border: 2px;
	border-radius: 25px;
	margin: 10px 10px;
	padding: 8px 35px;
	color: #306685;
	background-color: rgba(185, 197, 204, 1);
}

#photoUpload p {
	font-size: 10px;
}

.title-secondModal_input {
	width: 400px;
}

.category-secondModal_select {
	width: 425px;
}

.photo-validate {
	font-family: 'Syne';
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFEF8;
	border: 1px solid #A7A7A7;
	padding: 10px 65px;
	border-radius: 25px;
	background-color: #A7A7A7;
	margin-inline: auto;
	position: absolute;
	bottom: 45px;
	width: 200px;
	left: 0;
	right: 0;
}

.title-secondModal,
.category-secondModal {
	align-self: flex-start;
	padding: 20px 0 10px;
	font-family: 'Syne';
	font-weight: lighter;
	font-size: 15px;
	color: #000;
}

.title-secondModal_input,
.category-secondModal_select {
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
	border-radius: 0;
}

.modal-elements-container {

}

/* Media query pour un padding responsive */
@media (max-width: 375px) {

	.modal,
	#secondModal,
	.modal-elements-container {
		padding: 10px;
	}
}



/* style pour les catégories */
.categories {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 2em;
}

.categories-link {
	text-decoration: none;
	color: #1D6154;
	border: 1px solid #1D6154;
	padding: 5px 15px;
	border-radius: 25px;
}

.categories-link.active {
	background: #1D6154;
	color: #fff;
}

#projectsContainer {
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 25px;
}

#editLink {
	display: none;
	align-items: center;
	gap: 10px;
	padding: 10px 20px;
	font-family: 'Work Sans';
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#login {
	width: 50%;
	margin: auto;
}

#login>* {
	text-align: center;

}

#login h2 {
	padding-top: 0px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#login a {
	text-align: center;
	display: block;
}

#emailAlert,
#passwordAlert {
	display: none;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

footer {
	background-color: #fff;
	padding: 15px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.erreur_message {
	color: red;
	text-align: center;
	display: none;
}